<Section class="main">
  <h1 style="text-align: center;">
    Hello!! Welcome to RSS Feeds
  </h1>
  <div class="example">
    <p>You can generate Rss Feed based on <strong><em>section_name</em></strong></p>

    <div>
      <p>The following link provides rss feed of politics</p>
      <%= link_to 'http://127.0.0.1:3000/politics.rss', 'politics.rss' %>

      <ul>
        <li>politics is the <strong>section name</strong>.</li>
        <li>section name must be in [section-name] format.</li>
        <li>section name is the combination of lowercase letters and '-'</li>
      </ul>
    </div>
  </div>
</Section>