// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.example {
  text-align: center;
  line-height: 2rem;
  >div {
    margin-top: 3rem;
  }
  ul {
    max-width: 400px;
    margin: auto;
    text-align: left;
    padding-left: 5rem;
    margin-top: 3.5rem;
  }
}